body {
    background: #55557e;
    font-family: sans-serif;
}

.head1 {
    display: flex;
    align-items: center;
    margin: 4rem 30rem;
}

.img1 {
    background-color: #3d3e52;
    padding: 1rem 1.3rem;
    margin-left: 0.1rem;
}

.img2 {
    background-color: #252525;
    padding: 1.6rem 1.9rem;
    box-shadow: 1px 0px 6px 1px rgb(56, 56, 56);
}

.img3 {
    background-color: #3d3e52;
    padding: 1rem 1.3rem;
}

.img1:hover {
    background-color: #2d2c39;
    cursor: pointer;
}

.img3:hover {
    background-color: #2d2c39;
    cursor: pointer;
}

.head2 {
    margin: -3.3rem 32.5rem;
    /* margin: 4rem 30rem; */
}

.food {
    height: 10rem;
    width: 17rem;
    background-image: url(../media/food.jpg);
    background-size: cover;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

h1 {
    margin-left: 1rem;
    padding-top: 5rem;
    color: #ffffffc9;
    font-family: sans-serif;
    font-size: 1.5rem;
}

.location {
    display: flex;
    align-items: center;
    margin-left: 1rem;
}

.loc {
    height: 1.7rem;
    width: 1rem;
    padding-right: 0.1rem;
}

.p1 {
    color: #ffffffc9;
    font-family: sans-serif;
    font-size: 0.9rem;
}

.buttom {
    width: 17rem;
    height: 13rem;
    background-color: #ffffff;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: 0px 2px 6px 1px rgb(56, 56, 56);
}

.head3 {
    display: flex;
    align-items: center;
    border-bottom: 1px #e6e6e6 solid;
    padding: 1rem 0rem;
}

.head4 {
    display: flex;
    align-items: center;
    padding: 1.4rem 0rem;
}

.p3 {
    color: #b3adad;
    margin-left: 12rem;
}

.p2 {
    color: #b3adad;
    font-size: 0.8rem;
    font-weight: 600;
    margin-left: 1rem;
}

.p4 {
    color: #b3adad;
    margin-left: 12.3rem;
}

.p5 {
    color: #b3adad;
    margin-left: 10.7rem;
}

.p6 {
    color: #b3adad;
    margin-left: 11.4rem;
}